---

import AuthLayout from "../layouts/AuthLayout.astro";
import LoginForm from "../components/form/LoginForm.astro";---

<AuthLayout title="Login">
  <span slot="title">Login</span>
  <div slot="form">
    <LoginForm />
  </div>
</AuthLayout>